/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

/* tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body {
    color: white;
}

/* default behaviour overrides */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}
input:focus {
    --tw-ring-color: transparent !important;
    border-color: transparent !important;
}